/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 @font-face {
  font-family: "Bright Italic";
  src: url("fonts/Bright Italic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Alexandria Regular";
  src: url("fonts/Alexandria-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Aplica Alexandria para todo o site como fonte padrão */
body, p, span, li, input, textarea {
  font-family: "Alexandria Regular", sans-serif;
  color: #4d8404;
}

/* Bright Italic para títulos e links */
h1, h2, h3, h4, h5, h6, a, .bright, button {
  font-family: "Bright Italic", serif !important;
  color: #4d8404;
}

.logo-clube{
  width: 150px;
  display: block;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

button {
  background-color:#4183bc;
  color: #fff; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 4px; 
  cursor: pointer; 
  font-size: 16px; 
}

button:hover {
  background-color: #4d8404; /* Cor um pouco mais clara ao passar o mouse */
}

.row .barra-redes{
  margin-bottom: -30px !important;
  margin-top: 0px;
}

.ver-mais{
  font-size: 26px;
  text-decoration: underline;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/*Carrossel*/
div .carousel{
  height: 400px !important;
}
/* Ajustes para que as imagens fiquem bem visíveis */
.carousel .carousel-item {
  width: 100%;
  height: 100%;
}
.carousel .carousel-item img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center center; /* centraliza */  
}
   
.carousel-prev, .carousel-next {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  cursor: pointer !important;
  width: 40px !important;
  height: 40px !important;
  z-index: 10 !important;
}

/* Setinha da esquerda */
.carousel-prev {
  left: 140px !important; /* Ajuste esse valor para "grudar" mais no carrossel */
}

 /* Setinha da direita */
.carousel-next {
  right: 140px !important; /* Ajuste esse valor também */
}
 
.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.699);
  color: #fff;
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.carousel-caption h5,
.carousel-caption p {
  margin: 0;
}
.carousel-caption h5 {
  font-size: 32px !important;
}
  
.carousel-caption p {
  margin: 0;
  font-size: 18px;
}

.indicators{
  display: none;
}

/*Sobre*/
.sobre{
  padding: 5px;
  margin: 30px auto;
}

.imagem-sobre{
  width: 450px !important;
}

.container.row.sobre {
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* Faz as colunas se alinharem verticalmente no centro */
}

.coluna-esquerda {
  flex: 1 1 50%;
}

.coluna-direita {
  flex: 1 1 50%;
}


/*Conteudos*/
.conteudos{
  background-color: #4183bc;

  .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;

    .white-text{
      margin: 0px;
    }
  }

  .ver-mais{
    color: white;
  }

  .card{
    background-color: transparent;
    box-shadow: none;
  }

  h3.card-title{
    color: white !important;
    font-size: 26px;
  }

  .card .card-content{
    padding: 0px;
  }
  .card .card-content p{
    color: white;
    line-height: 1.5rem !important;
  }
  .card-image {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;  
    overflow: hidden;
  }

  .card-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    display: block;
  }
}
/*Parceiros*/

.parceiros{
  padding-top: 30px;

  .parceiro{
    padding: 5px;
  }

  .container-linha {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .texto {
    max-width: 60%;
  }
  
  .texto p {
    margin: 0;
  }
  
  .ver-mais {
    font-weight: bold;
    text-decoration: underline;
  }

  .container-parceiros{
    display: flex;
    justify-content: center; /* Alinha os itens no centro */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha, se necessário */
    gap: 0px; /* Espaçamento opcional entre os itens */
  
  }

  .row .col.m2{
    margin-left: 0px !important;
  }
  
}

/*Contato*/

.contato{
  padding-top: 30px;

  .contato > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
    padding-left: 0px;
  }
}

/*Pagina de contato*/

.page-contato{
  .container-contato {
    margin: 0 auto;
    padding: 20px;
  }

  .conteudo-contato {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 30px;

  }

  .info-contato {
    flex: 1;
  }

  .form-contato {
    flex: 1;
  }
  .form-group {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    margin-bottom: 10px;
  }
  
  .form-group label {
    width: 100px; /* ou o valor que quiser */
    font-weight: bold;
  }
  
  .form-group input,
  .form-group textarea {
    flex: 1;
    padding: 5px;
    border: 1px solid #000;
    height: 20px;
  }
  
  #mensagem {
    height: 100px;
  }

  #btn-enviar {
    display: block;   /* transforma o botão em block */
    margin: 20px auto; /* centraliza e adiciona um espaçamento vertical */
  }  
  
}