/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 @font-face {
  font-family: "Bright Italic";
  src: url("fonts/Bright Italic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Alexandria Regular";
  src: url("fonts/Alexandria-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Aplica Alexandria para todo o site como fonte padrão */
body, p, span, li, input, textarea {
  font-family: "Alexandria Regular", sans-serif;
  color: #4d8404;
}

/* Bright Italic para títulos e links */
h1, h2, h3, h4, h5, h6, a, .bright {
  font-family: "Bright Italic", serif;
  color: #4d8404;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/*Carrossel*/
div .carousel{
  height: 400px !important;
}
/* Ajustes para que as imagens fiquem bem visíveis */
.carousel .carousel-item {
  width: 100%;
  height: 100%;
}
.carousel .carousel-item img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center center; /* centraliza */  
}
   
.carousel-prev, .carousel-next {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  cursor: pointer !important;
  width: 40px !important;
  height: 40px !important;
  z-index: 10 !important;
}

/* Setinha da esquerda */
.carousel-prev {
  left: 140px !important; /* Ajuste esse valor para "grudar" mais no carrossel */
}

 /* Setinha da direita */
.carousel-next {
  right: 140px !important; /* Ajuste esse valor também */
}
 
.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.699);
  color: #fff;
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.carousel-caption h5,
.carousel-caption p {
  margin: 0;
}
.carousel-caption h5 {
  font-size: 32px !important;
}
  
.carousel-caption p {
  margin: 0;
  font-size: 18px;
}

.indicators{
  display: none;
}

/**/
.parceiros{
 padding: 5px;
}