/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 @font-face {
  font-family: "Bright Italic";
  src: url("fonts/Bright Italic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Alexandria Regular";
  src: url("fonts/Alexandria-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Aplica Alexandria para todo o site como fonte padrão */
body, p, span, li, input, textarea,address {
  font-family: "Alexandria Regular", sans-serif;
  color: #4d8404;
}

/* Bright Italic para títulos e links */
h1, h2, h3, h4, h5, h6, a, .bright, button, .texto-bright {
  font-family: "Bright Italic", serif !important;
  color: #4d8404;
}

.logo-clube{
  width: 150px;
  display: block;
}

button {
  background-color:#4183bc;
  color: #fff; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 4px; 
  cursor: pointer; 
  font-size: 16px; 
}

button:hover {
  background-color: #4d8404; /* Cor um pouco mais clara ao passar o mouse */
}

/*Navbar*/

#navbar{
  @media only screen and (max-width : 1000px) {
    nav {
      margin-bottom: 0;   
    }

    .row .col.s9{
      margin-top: 0px !important;
    }

    .social-icons {
      display: flex !important;
    }
  }  

  nav{
    background-color: transparent;
  }

  nav ul a.menu-item{
    font-size: 20px !important;
  }
  nav ul a:hover {
    border-bottom: solid 1px rgb(6, 43, 17);
    background-color: transparent;
  }
  .row .barra-redes{
    margin-bottom: -30px !important;
    margin-top: 0px;
  
    span{
      font-size: 22px;
    }
  }

  .row .col.s9{
    margin-top: 50px;
  }

  ul li a {
    display: flex;
    align-items: flex-end; /* Faz todo o conteúdo descer até a base da div */


  }

  nav .col.s11 {
    align-items: flex-end; /* alinha tudo na base do nav */
    height: 100%;
  }
  
  nav ul {
    display: flex;
    align-items: flex-end; /* faz os <li> ficarem na base */
    margin: 0;
    padding: 0;
    height: 100%;

    .btn-fechar-sidenav {
      height: auto;
    }

    @media only screen and (max-width : 992px) {
      display: block;
    }    
  }
  
  
}

.social-icons {
  margin-left: 0;
  padding: 0;
  display: -webkit-inline-box;
  justify-content: center;
}

.social-icons .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

/* Facebook verde #4d8404 */
.social-icons .facebook {
  background-image: url('https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/facebook.svg');
  filter: invert(33%) sepia(86%) saturate(3441%) hue-rotate(77deg) brightness(87%) contrast(84%);
}

/* Instagram verde #4d8404 */
.social-icons .instagram {
  background-image: url('https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/instagram.svg');
  filter: invert(33%) sepia(86%) saturate(3441%) hue-rotate(77deg) brightness(87%) contrast(84%);
}

.ver-mais{
  font-size: 26px;
  text-decoration: underline;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;

  h5.green-text.text-darken-3 {
    font-family: 'Georgia', serif;
    font-weight: normal;
    text-transform: none;
  }
  
  h6.texto-bright.green-text.text-darken-3 {
    font-weight: normal;
    font-size: 1rem;
    margin-bottom: 15px;
  }
  
  .col.s12.m6:first-child {
    padding-bottom: 20px;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

/* Footer*/

.texto-redes{
  font-size: 22px;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.page-footer {
  padding: 20px 0;
  border-top: 1px solid #e0e0e0;
}

.page-footer .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.page-footer .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-footer h5 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer-menu-columns {
  margin-top: 20px;
  display: flex;
  gap: 60px; /* Espaço entre as colunas */
}

.footer-column {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-column li {
  margin-bottom: 8px;
}

.page-footer a {
  text-decoration: none;
  font-size: 22px;
  transition: color 0.3s;
}

.page-footer a:hover {
  text-decoration: underline;
}


/* Responsivo */
@media (max-width: 600px) {
  .page-footer .row {
    flex-direction: column;
  }
  
  .footer-menu-columns {
    flex-direction: column;
    gap: 0;
    text-align: right;
  }
  
  .social-icons {
    align-items: flex-start;
  }

  .footer .row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer .col.s12.m4 {
    flex: 1 1 33.33%;
    max-width: 33.33%;
  }

  .footer-menu-columns {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .footer-menu-columns .footer-column {
    margin: 0;
    padding: 0;
  }

  /* .row .col.s12 {

    width: 50%;
    margin-left: 0;
  } */


  .redes-col{
    margin-top: 20px;
    width: 100% !important;
  }



  .page-footer .row {
    flex-direction: inherit !important;
  }

  .page-footer .row {
    flex-direction: column;
  }
  
  .social-icons {
    align-items: flex-start;
  }
  
  .page-footer ul {
    flex-direction: column;
    gap: 5px;
  }

}

/*Carrossel*/
div .carousel{
  height: 500px !important;
}
/* Ajustes para que as imagens fiquem bem visíveis */
.carousel .carousel-item {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.carousel .carousel-item img {
  width: 100%;
  height: 800px;
  object-fit: cover;
  object-position: center center; /* centraliza */  
}
   
.carousel-prev, .carousel-next {
  position: absolute !important;
  top: 70% !important;
  transform: translateY(-50%) !important;
  cursor: pointer !important;
  width: 40px !important;
  height: 40px !important;
  z-index: 10 !important;
}

/* Tablets */
@media (max-width: 1024px) {
  .carousel-prev,
  .carousel-next {
    top: 75% !important;
    width: 35px !important;
    height: 35px !important;
  }
}

/* Celulares */
@media (max-width: 768px) {
  .carousel-prev,
  .carousel-next {
    top: 80% !important;
    width: 30px !important;
    height: 30px !important;
  }
  .carousel .indicators .indicator-item{
    border: solid 1.5px !important;
  }
}

/* Telas grandes: >= 1440px */
@media (min-width: 1440px) {
  .carousel-prev,
  .carousel-next {
    top: 50% !important;
    width: 50px !important;
    height: 50px !important;
  }

  .carousel-prev {
    left: 20px !important;
  }

  .carousel-next {
    right: 20px !important;
  }
}

/* Setinha da esquerda */
.carousel-prev {
  left: 140px !important; /* Ajuste esse valor para "grudar" mais no carrossel */
}

 /* Setinha da direita */
.carousel-next {
  right: 140px !important; /* Ajuste esse valor também */
}
 
.carousel-caption {
  position: absolute;
  bottom: 20px; 
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.699);
  color: #fff;
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.carousel-caption h5,
.carousel-caption p {
  margin: 0;
}
.carousel-caption h5 {
  font-size: 32px !important;
}
  
.carousel-caption p {
  margin: 0;
  font-size: 18px;
}

.carousel .indicators{
  bottom: -1.5em;
}
.carousel .indicators .indicator-item{
  border-color: #4d8404;
  border: solid 1px;
}

.carousel .indicators .indicator-item.active {
  background-color: #4d8404 !important;
}

.area-indicadores {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 21px;
}

/*Sobre*/
.sobre{
  padding: 5px;
  margin: 30px auto;
}

.imagem-sobre{
  width: 450px !important;
}

.container.row.sobre {
  display: flex;
  flex-wrap: wrap;
  align-items: center; /*Faz as colunas se alinharem verticalmente no centro*/
}

.coluna-esquerda {
  flex: 1 1 50%;
}

.coluna-direita {
  flex: 1 1 50%;
}

.collapsible-body {
  border-bottom: none;
  width: 70%;
  text-align: center;
}

.collapsible-header{
  align-items: center;
  border-bottom: none;
  font-size: 1.3rem;
  background-color: #fff !important;

  i {
    line-height: normal;
    font-size: 2rem;
    margin-left: 5px;
  }
}

.collapsible.popout > li{
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.membro-div { /*frame de cada membro*/
  display: flex;
  flex-direction:column;
  align-items: center;
  margin-bottom: 15px;
}

.membro-div p {
  margin: 0;
  text-align: center;
}

.foto-membros { /*frame da foto*/
  border: 5px #4d8404 solid;
  border-radius: 50%;
  width: 10em;
  height: 10em;
  object-fit: cover;
  margin-top: 10px;
}

/*Post*/
.blog {
  .imagem-blog {
    margin-right: 50px;
    margin-bottom: 25px;
    padding: 0 !important;
    object-fit: cover;
  }

  .imagem-blog img{
    object-fit: cover !important;
  }

  .card{
    background-color: transparent;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 0;
  }

  .blog .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  h3.card-title{
    font-size: 26px;
    line-height: 23px !important;
    margin-top: 0;
    width: 100%;
    margin-bottom: 5px !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;       /* Número de linhas antes do truncamento */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 2em;
  }

  .card .card-content{
    padding-top: 5px;
    padding-bottom: 10px !important;
    margin: 0 !important;
    padding: 5px 15px 10px 15px;
  }

  .card .card-content p{
    line-height: 1.5rem !important;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 4;       /* Número de linhas antes do truncamento */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 6em;             /* Ajuste baseado no tamanho da fonte/linha */
  }

  .card-image {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    margin: 0 !important;
  }

  .card-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    display: block;
    border-radius: 8px;
  }

  div.blog-lista div.row div {
    height: 380px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 600px){
    div.blog-lista div.row div {
      height: auto;
    }
  }
}

/*Conteudos*/
.conteudos{
  background-color: #4183bc;
  .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    .white-text{
      margin: 0px;
    }
  }
  .ver-mais{
    color: white;
  }
  .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
  }
  h3.card-title{
    color: white;
    font-size: 26px;
    line-height: 23px !important;
    margin-top: 0;
    width: 100%;
    margin-bottom: 5px !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;       /* Número de linhas antes do truncamento */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 2em;
  }
  .card .card-content{
    padding-top: 5px;
    padding-bottom: 10px !important;
    margin: 0 !important;
    padding: 5px 15px 10px 15px;
  }
  .card .card-content p{
    color: white;
    line-height: 1.5rem !important;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 6em;
  }
  .card-image {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    margin: 0 !important;
  }
  .card-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    display: block;
    border-radius: 8px;
  }
}
/*Parceiros*/

.parceiros{
  padding-top: 30px;

  .parceiro{
    padding: 5px;
  }

  

  .texto {
    max-width: 60%;
  }
  
  .texto p {
    margin: 0;
  }
  
  .ver-mais {
    font-weight: bold;
    text-decoration: underline;
  }

  .container-parceiros{
    display: flex;
    justify-content: center; /* Alinha os itens no centro */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha, se necessário */
    gap: 0px; /* Espaçamento opcional entre os itens */
  
  }

  .row .col.m2{
    margin-left: 0px !important;
  }
  
  @media (min-width: 600px) {
    .container-texto {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

/*Sessão contato na home*/

.contato{
  padding-top: 50px;
  padding-bottom: 60px;


  .contato > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
    padding-left: 0px;
  }

  @media (min-width: 600px) {
    .imagem-contato{
      margin-top: -3em !important;
    }    
  }

}

/*Pagina de contato*/

.page-contato{
  .container-contato{
    margin: 0 auto;
    padding: 20px;
  }

  .conteudo-contato {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 30px;

  }

  .info-contato {
    flex: 1;
  }

  .form-contato {
    flex: 1;
  }
  .form-group {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    margin-bottom: 10px;
  }
  
  .form-group label {
    width: 100px; /* ou o valor que quiser */
    font-weight: bold;
  }
  
  .form-group input,
  .form-group textarea {
    flex: 1;
    padding: 5px;
    border: 1px solid #000;
    height: 20px;
  }
  
  #mensagem {
    height: 100px;
  }

  #btn-enviar {
    display: block;   /* transforma o botão em block */
    margin: 20px auto; /* centraliza e adiciona um espaçamento vertical */
  }  
  
}

.margem-membro{
  margin-top: -120px;
  margin-left: 30px;

  @media only screen and (max-width: 990px) {
    margin-top: 10px;
  }
}

.section-carregar-mais{
  margin: auto 10px;
  width: 100%;
}

#btn-carregar-mais{
  display: block;
  margin: 20px auto; /* 20px de margem vertical e auto nas laterais para centralizar */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.single-projeto{
  max-height: 300px;
  object-fit: cover;
}


.page-projetos{
  img{
    max-height: 300px;
    width: 100%;
    object-fit: cover;
  }

  .card-projeto{
    margin-top: 30px;
  }

  a{
    color: #fff !important;
  }

  @media (max-width: 600px) {
    .row .col.s6 {
      width: 100%;
    }
  }
}

.page-parceiros{
  .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
    padding: 0 15px;
  }
  .logos img {
    max-height: 100px;
    max-width: 200px;
    object-fit: contain;
  }
  .h4 {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    font-size: 28px;
    line-height: 1.4;
    padding: 0 15px;
  }
  .paragrafo {
    text-align: left;
    margin: 0 auto;
    line-height: 1.4;
    color: #4e793a;
  }
  .vermais {
    display: block;
    font-family: 'BrightItalic', cursive;
    font-size: 32px;
    color: #2e7d32;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
    margin-top: 24px;
    padding: 4px 8px;
    text-align: right;
    margin-right: 24px;
  }
}

.vermais:hover {
  border-bottom: 2px solid #2e7d32;
}   

@media (max-width: 600px) {
  .logos {
    flex-direction: column;
    align-items: center;
  }
 h1 {
    font-size: 28px;
  }
 .subtitulo {
    font-size: 22px;
  }
}