nav {
    align-items: center;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-evenly;    
}

footer {
    padding: 20px;
}

a {
    text-decoration: none;
}

.caixa {
    height: 28em;
    width: 30%;
}

.secao {
    align-items: center;
    padding: 10px;
}
